.btn {
  background: #FF5500;
  border-radius: 35px;
  padding: 18px 55px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: .3s;
}

.btn_light {
  padding: 16px 53px;
  background: #fff;
  color: #FF5500;
  border: 2px solid #FF5500;
}

.btn_about {
  background: #FF5400;
  padding: 18px 40px;
}

.btn_reset {
  background: #8E8E8E;
  padding: 19px 45px;
}

.btn_submit {
  padding: 19px 41px;
}

.btn:hover {
  background: #FF3D00;
  color: #fff;
}

.btn_reset:hover {
  background: #2B2B2B;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.btn-wrapper_offer {
  margin-bottom: 29px;
}

.btn-wrapper_service {
  margin-bottom: 13px;
}