.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
}

.contacts_header {
  padding-top: 12px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
}

.contacts__dropdown {
  margin-top: -7px;
  margin-right: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 13px;
  align-self: flex-end;
}

.dropdown:hover .dropdown__menu {
  display: block;
  left: -62%;
  opacity: .8;
}

.dropdown__menu {
  position: absolute;
  background: #fff;
  color: #1E1F20;
  padding: 12px 17px;
  width: 157px;
  min-height: 68px;
  top: 100%;
  border-radius: 3px;
  margin-top: 7px;
  left: -9999px;
  opacity: 0;
  transition: opacity .3s;
}

.dropdown__menu:before {
  content: "";
  display: block;
  height: 15px;
  left: 0;
  right: 0;
  top: -15px;
  position: absolute;
}

.dropdown__menu::after {
  content: "";
  position: absolute;
  border: 9px solid transparent;
  width: 0px;
  height: 0px;
  left: 60%;
  bottom: 99%;
  border-bottom-color: #fff;
  border-top-width: 0;
  border-left-width: 11px;
  border-right-width: 11px;
}

.dropdown__link {
  text-decoration: underline;
  color: #FF3D00;
}

.dropdown__item {
  font-weight: 600;
  margin-bottom: 4px;
}

.dropdown__item_primary {
  font-weight: bold;
}

.dropdown__item:last-child {
  margin-bottom: 0;
}

.contacts__info {
  align-self: flex-end;
  color: #9A9A9A;
  font-size: 11px;
}