.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__container_main {
  min-height: 142px;
  margin-top: 55px;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.footer__container_inner {
  min-height: 132px;
  padding: 44px 0;
}

.footer__col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__col_align-right {
  justify-content: flex-end;
}