.header {
  padding-top: 17px;
  margin-bottom: 152px;
}

.header_top-line {
  margin-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}