.pager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager__display {
  margin-right: 25px;
}

.pager__list {
  display: flex;
  align-items: center;
}

.pager__item {
  text-align: center;
}

.pager__item_active .pager__link {
  background: #FF5500;
}

.pager__item .pager__link:hover {
  background: #FF5500;
}

.pager__link {
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  transition: .3s;
}

.pager_theme_light {
  color: #000;
}

.pager_theme_light .pager__item_active .pager__link {
  color: #fff;
}

.pager_theme_light .pager__link:hover {
  color: #fff;
}