.page-title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

.page-content {
  background: #fff;
  color:#303030;
  padding-top: 52px;
  padding-bottom: 83px;
}

.page-content_reviews {
  padding-top: 94px;
}

.services {
  margin-bottom: 57px;
}

.service {
  display: flex;
  min-height: 333px;
  margin: 42px 0;
}

.service__img {
  width: 40.3%;
  margin-right: 4.3%;
}

.service__img-elem {
  width: 100%;
}

.service__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px 0px 12px 9px;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin-bottom: 27px;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 35px;
}