.page-title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

.page-content {
  background: #fff;
  color:#303030;
  padding-top: 52px;
  padding-bottom: 83px;
}

.services {
  margin-bottom: 57px;
}

.service {
  display: flex;
  min-height: 333px;
  margin: 42px 0;
}

.service__img {
  width: 40.3%;
  margin-right: 4.3%;
}

.service__img-elem {
  width: 100%;
}

.service__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px 9px;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin-bottom: 27px;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 35px;
}

.partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -20px;
}

.partners__item {
  margin-left: 46px;
  margin-bottom: 27px;
}

.partners__item:nth-child(4n + 1) {
  margin-left: 0px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 220px;
  height: 100px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0);
}