.top-line {
  min-height: 419px;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
  background: #151618 url(../../img/bg/top-line.png) right top no-repeat;
}

.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_top-line {
  margin-bottom: 30px;
}

.page-title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.breadcrumbs__item_active .breadcrumbs__link {
  font-weight: bold;;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
  margin-left: 3px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.page-content {
  background: #fff;
  color:#303030;
  padding-top: 52px;
  padding-bottom: 83px;
}

.services {
  margin-bottom: 57px;
}

.service {
  display: flex;
  min-height: 333px;
  margin: 42px 0;
}

.service__img {
  width: 40.3%;
  margin-right: 4.3%;
}

.service__img-elem {
  width: 100%;
}

.service__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px 9px;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin-bottom: 27px;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 35px;
}

.inner-section {
  background: #fff;
  color:#1A1B1E;
  padding-top: 88px;
  padding-bottom: 68px;
}

.inner-section_bg_grey {
  background: #F4F5F5;
  ;
}

.inner-section__title {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 60px;
}

.partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -20px;
}

.partners__item {
  margin-left: 46px;
  margin-bottom: 27px;
}

.partners__item:nth-child(4n + 1) {
  margin-left: 0px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 220px;
  height: 100px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0);
}