.social {
  margin-right: 74px;
  display: flex;
  flex-direction: row;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  text-decoration: none;
  position: relative;
  width: 36px;
  height: 36px;
}

.social__link:before, .social__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background:url(../../img/socials/socials_sprites.png);
  transition: opacity .3s;
}

.social__link:before {
  opacity: 0;
}

.social__link:hover:before {
  opacity: 1;
}

.social__link:hover:after {
  opacity: 0;
}

.social__item_tg .social__link:after {
  background-position: -122px -10px;
}

.social__item_tg .social__link:before {
  background-position: -122px -66px;
}

.social__item_vk .social__link:after {
  background-position: -10px -122px;
}

.social__item_vk .social__link:before {
  background-position: -66px -122px;
}

.social__item_fb .social__link:after {
  background-position: -10px -10px;
}

.social__item_fb .social__link:before {
  background-position: -66px -10px;
}

.social__item_inst .social__link:after {
  background-position: -10px -66px;
}

.social__item_inst .social__link:before {
  background-position: -66px -66px;
}