.top-line {
  min-height: 416px;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
  background: #151618 url(../../img/bg/top-line.png) right top no-repeat;
}

.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}