.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../img/bg/rec.png) center center no-repeat, url(../../img/bg/bg.png) center top / cover no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: rotateIn 1s .8s ease-in forwards;
}

.central__logo {
  margin-bottom: 38px;
}

@keyframes rotateIn {
  from {
    transform: scale(.1) rotate(30deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}